@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root{
  --main:(239, 239, 240);
  --secound:#003333;
  --yellow:	#DAA520;
 --blue: rgba(8, 14, 44);
 --blue-bg: rgb(11, 24, 88);
 --white:#E1D9D1;
 --bg:#376544;
}
